* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    top: 0;
    background-color: #FF495C;
    padding: 0.1rem 0; /* You might want to set a fixed height here instead of padding */
    text-align: center;
    z-index: 1000;
}

.header-image img {
    height: 4rem; /* This sets the image height to be 4rem. Adjust as needed. */
    width: auto; /* This maintains the aspect ratio of the image */
    max-height: 80%; /* This ensures the image is not taller than the header */
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #3DDC97;
    padding: 1rem;
    gap: 1rem;
    overflow-y: auto;
    z-index: 2000; /* Ensures that the nav is above other content */
}

nav button,
nav input[type="text"],
nav input[type="submit"] {
    border: none;
    padding: 10px;
    color: black;
    background: #F1FFFA;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%; /* Définit la largeur des boutons à 100% */
    margin-top: 10px; /* Ajoutez cette ligne pour définir la marge supérieure */
}

nav input[type="text"] {
    padding: 10px;
    margin-bottom: 5px;
}

.main-content {
    margin-left: 220px; /* Increase this if the nav is still overlapping */
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
}

.touite {
    position: relative; /* Ajoutez cette ligne pour permettre un positionnement relatif */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 100%;
    margin-left: 40%;
    margin-top: 1%;
    max-width: 600px;
}

#abonnement {
    position: absolute; /* Positionnement absolu */
    top: 10px; /* Ajustez la valeur top selon votre préférence */
    right: 10px; /* Ajustez la valeur right selon votre préférence */
    background-color: #007BFF; /* Couleur de fond du bouton d'abonnement */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#abonnement:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
}

#love {
    background-color: red; /* Couleur de fond rouge */
    color: white; /* Texte en blanc pour une meilleure lisibilité */
    border: none; /* Suppression de la bordure */
    padding: 10px 20px; /* Espacement intérieur pour rendre le bouton plus grand */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Coins arrondis pour un look moderne */
}

#dislove {
    background-color: grey; /* Couleur de fond grise */
    color: white; /* Texte en blanc pour une meilleure lisibilité */
    border: none; /* Suppression de la bordure */
    padding: 10px 20px; /* Espacement intérieur pour rendre le bouton plus grand */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Coins arrondis pour un look moderne */
}

#love:hover {
    background-color: darkred; /* Changement de couleur au survol pour le bouton Love */
}

#dislove:hover {
    background-color: darkgrey; /* Changement de couleur au survol pour le bouton Dislove */
}

.header-image img {
    max-height: 100px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    flex-basis: 30%;
    text-align: right;
    padding-right: 10px;
}

.form-group input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-group input[type="submit"] {
    flex-basis: 100%; /* Définit la largeur du bouton à 100% */
}

.success-message {
    font-size: 24px; /* Taille de la police du message */
    color: #007bff; /* Couleur du texte du message */
    margin-top: 20px; /* Espacement supplémentaire par rapport au formulaire */
    margin-left: 45%;
}

/* Styles pour le bouton "Connection" */
.custom-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 30%;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.center-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-left: 12%;
    text-align: center;
}

.form-group2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 60%;
}

.form-group2 label {
    margin-bottom: 5px;
}

.form-group2 input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-group2 input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    width: auto;
    align-self: center;
}

.custom-button2 {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 0%;
    padding: 10px 300px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}


/* Au survol, changez la couleur de fond du bouton */
.custom-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .main-content {
        margin: 1rem;
    }
}
