/*
    fond clair : F6F7EB
    light coral : E69597
    light red : FF7477
    eggplant : 553E4E
    night : 0A090C
*/

body{
    background-color: #F6F7EB;
}

button{
    background-color: #E69597;
    border-radius: 15px;
}

button:hover{
    background-color: #FF7477;
}

.entreeTexte{
    background-color: #E69597;
    color: black;
}

.entreeButton{
    background-color: #E69597;
    border-radius: 15px;
}

.entreeButton:hover{
    background-color: #FF7477;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 20%;
    border-right: solid 1px black;
    align-items: center;
}

.navi{
    margin: 2%;
    width: 50%;
}